name: Start
on:
  workflow_dispatch:
jobs:
  Instance:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Run Start Script
      run: source ubuntu-start.sh

    - name: Run Script
      env:
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
        CLOUDFLARED_TOKEN: ${{ secrets.CLOUDFLARED_TOKEN }}
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      run: source ssh.sh
      
    - name: Run End Script
      run: source ubuntu-end.sh
